<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <title>Vehicles</title>
</head>
<body>
<!-- Header -->
<header id="header-home">
    <div class="container">
        <nav id="main-nav">
            <h1 id="logo">Car Dealership</h1>
            <ul>
                <li><a href="index.html" ><i class="fas fa-home"></i> Home</a></li>
                <li><a href="sales"><i class="fas fa-coins"></i> Sales</a></li>
                <li><a href="" class="current"><i class="fas fa-car"></i> Vehicles</a></li>
                <li><a href="clients"><i class="fas fa-users"></i> Clients</a></li>
                <li><a href="sellers"><i class="fas fa-user-tie"></i> Sellers</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container">

    <div class="above-table">
        <h3>All vehicles</h3>
        <div>
            <a href="#" class="add-button"><i class="fas fa-plus"></i> Add vehicle</a>
        </div>
        <form action="#" th:action="@{/vehicles}" th:object="${vehicleToFind}" method="post">
            <input th:field="*{reg}" type="text" id="reg" name="reg" placeholder="Enter vehicle reg">
            <input type="submit" value=" Find ">
        </form>
    </div>


    <table id="vehicles" class="table" >
        <thead>
            <tr>
                <th scope="col">Key Tag</th>
                <th scope="col">Vehicle Make</th>
                <th scope="col">Vehicle Model</th>
                <th scope="col">Vehicle Reg</th>
                <th scope="col">Year</th>
                <th scope="col">Transmission</th>
                <th scope="col">CC</th>
                <th scope="col">Colour</th>
                <th scope="col">Buying price</th>
                <th scope="col">Selling price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vehicle : ${vehicles}" >
                <td th:text="${vehicle.keyTagNumber}" scope="row"></td>
                <td th:text="${vehicle.make}" scope="row"></td>
                <td th:text="${vehicle.model}" scope="row"></td>
                <td th:text="${vehicle.reg}" scope="row"></td>
                <td th:text="${vehicle.fabrication_year}" scope="row"></td>
                <td th:text="${vehicle.transmission}" scope="row"></td>
                <td th:text="${vehicle.cc}" scope="row"></td>
                <td th:text="${vehicle.colour}" scope="row"></td>
                <td th:text="${vehicle.buyingPrice}" scope="row"></td>
                <td th:text="${vehicle.sellingPrice}" scope="row"></td>

            </tr>
        </tbody>
    </table>
</div>


</body>
</html>