<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<body>
<!-- Header -->
<header id="header-home">
    <div class="container">
        <nav id="main-nav">
            <h1 id="logo">Car Dealership</h1>
            <ul>
                <li><a href="index.html" class="current"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="sales"><i class="fas fa-coins"></i> Sales</a></li>
                <li><a href="vehicles" ><i class="fas fa-car"></i> Vehicles</a></li>
                <li><a href="clients"><i class="fas fa-users"></i> Clients</a></li>
                <li><a href="sellers"><i class="fas fa-user-tie"></i> Sellers</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="showcase" class="container">
        <div class="showcase-content">
            <h1>Dealership Management System</h1>
        </div>
</div>

</body>
</html>